@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Cписок контактов.</h2>
        <p>
            Удобный поиск и управление вашими контактами.
        </p>
        <p> @Html.ActionLink("Перейти к списку контактов", "Index", "Contact")</p>
    </div>
    <div class="col-md-4">
        <h2>Список организаций</h2>
        <p>Управление вашими контрагентами.</p>
        <p> @Html.ActionLink("Перейти к списку организаций", "Index", "Company")</p>
    </div>
</div>